@media screen and (min-width: 1200px) {
  main {
    #content {
      > div {
        &:nth-of-type(1) {
          > h6 {
            font-size: 150px !important;
            > span {
              &:nth-of-type(1) {
                position: absolute;
                top: 0;
                left: 590px;
              }
              &:nth-of-type(2) {
                position: absolute;
                top: 120px;
                left: 0;
              }
            }
          }
        }
      }
    }
    #customer {
      padding-bottom: 500px;

      > #txt {
        > p {
          line-height: 110px;
        }
      }
      > figure {
        top: 830px;
        width: 300px;
        height: 500px;
      }
    }
    #plan {
      > div {
        &:nth-of-type(1) {
          > h5 {
            font-size: 140px;
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          margin-top: 20px;
        }
      }
    }
  }
}
