@media screen and (min-width: 992px) {
  header {
    > section {
      position: relative;
      margin-top: 60px;
      > div {
        > h1 {
          width: 70% !important;
          position: absolute;
          transform: translate(-50%, 0%);
          /* font-size: 90px !important; */

          &:nth-of-type(1) {
            top: 60px;
            left: 50%;
            font-size: clamp(90px, 10vw, 150px);
          }
          &:nth-of-type(2) {
            top: 130px;
            left: 50%;
            font-size: clamp(70px, 10vw, 150px);
          }
          &:nth-of-type(3) {
            top: 290px;
            left: 50%;
            font-size: clamp(90px, 10vw, 150px);
          }
        }
        > div {
          &:nth-of-type(1) {
            width: 300px;
            height: 530px;
            background-size: cover;
            background-position: 50% 50%;
          }
          &:nth-of-type(2) {
            display: flex;
            align-self: flex-end;
            width: 300px;
            height: 220px;
            background-position: 50% 50%;
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }

  main {
    > div {
      /* -------------------Get paid to create------------------- */
      &:nth-of-type(2) {
        > div {
          &:nth-of-type(1) {
            > h6 {
              font-size: 120px;
            }
            > span {
              font-size: 120px;
            }
          }

          &:nth-of-type(3) {
            margin-top: 30px !important;
            height: 900px;
          }
        }
      }
    }
    /* ------------------------------meet--------------------- */
    #meet {
      > div {
        &:nth-of-type(1) {
          > h6 {
            font-size: 146px;
          }
          > h5 {
            font-size: 146px;
          }
        }
      }
      > figure {
        margin: 100px auto 0;
        width: 400px;
        height: 600px;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    /* ------------------------------customer--------------------- */
    #customer {
      padding-bottom: 400px;

      > #txt {
        > p {
          line-height: 82px;
        }
      }
      > figure {
        top: 670px;
        width: 250px;
        height: 440px;
      }
    }
    /* ------------------------------plan--------------------- */
    #plan {
      > div {
        &:nth-of-type(1) {
          > h5 {
            font-size: 120px;
          }
        }
        &:nth-of-type(2),
        &:nth-of-type(3) {
          margin-top: 30px;
        }
      }
    }
    /* ------------------------------content--------------------- */
    #content {
      > div {
        &:nth-of-type(1) {
          > h6 {
            font-size: 110px !important;
            > span {
              &:nth-of-type(1) {
                position: absolute;
                top: 0;
                left: 440px;
              }
              &:nth-of-type(2) {
                position: absolute;
                top: 90px;
                left: 0;
              }
            }
          }
        }
      }
    }
    /* ------------------------------question--------------------- */
    #question {
      #txt {
        width: 80%;
      }
    }
  }
}
