@font-face {
  font-family: "acumin";
  src: url(../fonts/Acumin-RPro.otf);
}
@font-face {
  font-family: "acuminIt";
  src: url(../fonts/Acumin-ItPro.otf);
}
@font-face {
  font-family: "acuminPro";
  src: url(../fonts/Acumin-BdPro.otf);
}
@font-face {
  font-family: "acuminItPro";
  src: url(../fonts/Acumin-BdItPro.otf);
}
@font-face {
  font-family: "anton";
  src: url(../fonts/anton.ttf);
}

header {
  background-color: #191b1d;
  /*----------------- navbar ------------------*/
  nav {
    > a {
      color: #ff6123;
      font-family: "anton";
      font-size: 22px;
      letter-spacing: 1px;
    }
    > div {
      > span {
        &:nth-of-type(1) {
          margin-right: 70px;
          > a {
            color: #ff6123;
            font-size: 16px;
            font-family: "acuminPro";
          }
        }
        &:nth-of-type(2) {
          transform: rotate(90deg);
          font-size: 35px;
          font-family: acumin;
          color: #ff6123;
        }
      }
      > div {
        > i {
          color: #ff6123;
          font-size: 20px;
        }
      }
    }
  }
  > section {
    margin-top: 130px;
    padding: 0px !important;
    > div {
      > h1 {
        &:nth-of-type(1) {
          color: #ff6123;
          font-size: 72px;
          font-family: anton;
          font-style: italic;
          text-align: center;
        }
        &:nth-of-type(2) {
          color: #ff6123;
          font-size: 72px;
          font-family: anton;
          text-align: center;
          padding: 50px 0;
        }
        &:nth-of-type(3) {
          color: #ff6123;
          font-size: 72px;
          font-family: anton;
          text-align: center;
          font-style: italic;
          padding: 20px 0;
        }
      }
      > div {
        &:nth-of-type(1) {
          background-image: url(../images/1.webp);
          width: 100%;
          height: 200px;
          background-size: cover;
          background-position: 50% 50%;
        }
        &:nth-of-type(2) {
          background-image: url(../images/2.webp);
          width: 100%;
          height: 200px;
          background-size: cover;
          background-position: 50% 50%;
        }
      }
    }

    > a {
      color: #ff6123;
      font-weight: bold;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      margin: 30px auto 0;
      border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
      padding: 20px 50px;
      border: 3px solid #ff6123;
      transition: 0.4s ease-in-out;
      &:hover {
        background-color: #ff6123;
        color: #191b1d;
      }
    }
  }
}
main {
  /* border: 1px solid red; */
  background-color: #191b1d;
  padding: 0px !important;
  padding-top: 80px !important;
  > div {
    width: 100%;
    height: 45px;
    border-top: 1px solid #ff6123;
    border-bottom: 1px solid #ff6123;
  }
}
